/* Reset some default styles for browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}



.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;  
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.active a{
    background-color: red;
}

.form-container {
    justify-content: center;
    background-color: #ce1212;
    border: 1px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
