{% extends "base.html" %}
{% block content %}
<marquee direction="left" scrollamount="8" behavior="scroll"><a href="https://dypnew.dcpl.co.in/admissions/admission-process/contact-details" target="_blank"> Admissions Open for Academic Year 2024-25</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DYPCOE is accredited with NAAC 'A' Grade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DYPCOE is  an Autonomous Institute with effect from the academic year 2024-25 </marquee>
<div class="setimg">
		<img src="static/img/.jpg"></img>
	</div>

    <section id="programs">
        <div class="container">
            <h2>Our Programs</h2>
            <p>Explore our wide range of programs designed to meet your educational goals.</p>
        </div>
    </section>

  
    

{% endblock  %}